body {
  padding: -10px;
   min-width:400px;
   width: auto !important;
   width:400px;
   background-color: #dbdbdb;
   height: 100%;
}

.row-vertical {
  height:100vh;
  display:table;
  width:100%;
}

.vertical {
  display: table-cell;
  vertical-align: middle;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.img-responsive {
  margin: 0 auto;
}

.navbar .navbar-collapse {
  text-align: center;
}

.question-name {
  padding-bottom: 20px;
}

.row {
  margin-top: 0px;
}

.row-centered {
  text-align:center;
}

.answer-button-next {
  margin-top: 20px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.catalyst-image {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.internal:before {
  content: url(../img/internal-link.png);
}

.external:before {
  content:url('../img/external-link.png');
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem !important;
  }

  .about {
    font-size: 1.4rem;
  }  
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  h1 {
    font-size: 4rem !important;
  }

  .about {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1281px) {
  h1 {
    font-size: 5rem !important;
  }

  .about{
    font-size: 1.8rem;
  }
}